<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Mensa - Dish - Add</title>
</h:head>
<h:body>
    <ui:composition template="template.xhtml">
        <h:outputStylesheet library="css" name="style.css"/>
        <ui:define name="pageTitle">
            <h1>#{labels.labelDishAdd}</h1>
        </ui:define>

        <ui:define name="mensa"
        >
            <br/>
            <br/>
            <h:form id="myForm">
                <f:event type="preRenderView" listener="#{addDishView.initialize}"/>
                <h:panelGrid columns="3">
                    <h:outputText value="#{labels.labelName}"/>
                    <h:inputText id="dishName" required="true" requiredMessage="#{labels.required}"
                                 value="#{addDishView.name}"/>
                    <h:message for="dishName"/>
                </h:panelGrid>
                <h:panelGrid columns="3">
                    <h:outputLabel for="price" value="#{labels.labelPrice}"/>
                    <h:inputText id="price" value="#{addDishView.price}" validatorMessage="#{labels.ErrorPrice}">
                        <f:validateDoubleRange minimum="0.5" maximum="10.0"/>
                    </h:inputText>
                    <h:message for="price"/>
                </h:panelGrid>
                <h:panelGrid columns="2">
                    <h:outputLabel for="category" value="#{labels.labelCategory}"/>
                    <h:selectOneMenu id="category" value="#{addDishView.category}">
                        <f:selectItems value="#{addDishView.categoryValues}"/>
                    </h:selectOneMenu>
                </h:panelGrid>

                <h:panelGrid columns="2">
                    <h:commandButton value="#{labels.buttonCancel}"
                                     action="dishManagementTable" immediate="true">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                    <h:commandButton value="#{labels.buttonSave}"
                                     action="#{addDishView.buttonSave}">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                </h:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>

</h:body>
</html>
