<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
</h:head>
<h:body>
<h:outputText value="&#160;" />
<h:outputText value="&#160;" />
<h:panelGrid columns="1">
    <h:outputText value="#{labels.labelSysTecLab}" />
    <h:outputText value="#{labels.labelStr}" />
    <h:outputText value="#{labels.labelCity}" />
</h:panelGrid>
</h:body>
</html>