<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Mensa - Einloggen</title>
</h:head>
<h:body>
    <ui:composition template="template.xhtml">
        <h:outputStylesheet library="css" name="style.css"/>
        <ui:define name="pageTitle">
        </ui:define>
        <ui:define name="mainNavigation">
            <h:form>
                <p:menu model="#{mainNavigationView.model}"/>
            </h:form>
        </ui:define>

        <ui:define name="mensa">

            <h:form style="float:center">
                <f:event type="preRenderView" listener="#{mainNavigationView.initialize}"/>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>
