<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">


<h:head>
    <title>Title</title>
</h:head>
<h:body>
    <ui:composition template="template.xhtml">
        <h:outputStylesheet library="css" name="style.css"/>
        <ui:define name="pageTitle">
        </ui:define>
        <ui:define name="mainNavigation">
            <h:form>
                <p:menu model="#{mainNavigationView.model}"/>
            </h:form>
        </ui:define>

        <ui:define name="mensa">
            <br/>
            <br/>
            <h:form style="float:center">
                <p:growl id="growl" sticky="true" showDetail="true"/>
                <p:wizard flowListener="#{orderView.onFlowProcess}">
                    <p:tab id="menu" title="#{labels.labelMenu}">
                        <p:panel header="#{labels.labelMenu}">
                            <f:event type="preRenderView" listener="#{orderView.initialize}"/>
                            <h:dataTable var="dish"
                                         value="#{orderView.dishDataModel}"
                                         styleClass="tableBackground"
                                         columnClasses="oddColumn,evenColumn,oddColumn,evenColumn"
                                         headerClass="tableHeader"
                                         footerClass="tableFooter"
                                         rowClasses="oddRow, evenRow">
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{labels.labelNumber}"/>
                                    </f:facet>
                                    <h:outputText value="#{orderView.getNumber(dish)}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{labels.labelName}"/>
                                    </f:facet>
                                    <h:outputText value="#{dish.dishName}"/>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">
                                        <h:outputText value="#{labels.labelPrice}"/>
                                    </f:facet>
                                    <h:outputText value="#{dish.price}">
                                        <f:convertNumber type="currency" currencyCode="EUR"/>
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <p:graphicImage url="#{dish.imageName}"/>
                                </h:column>
                                <h:column>
                                    <h:commandButton id="addtobasket" action="#{orderView.addToBasket}"
                                                     value="#{labels.labelBasket}"/>
                                </h:column>
                            </h:dataTable>
                        </p:panel>
                    </p:tab>
                    <p:tab id="basket" title="#{labels.labelbasket}">
                        <p:panel header="#{labels.labelbasket}">
                            <p:outputLabel value="#{labels.labelYourBasket}"/>
                            <h:dataTable var="dish"
                                         value="#{orderView.basketDataModel}"
                                         styleClass="tableBackground"
                                         columnClasses="oddColumn,evenColumn,oddColumn,evenColumn"
                                         headerClass="tableHeader"
                                         footerClass="tableFooter"
                                         rowClasses="oddRow, evenRow">
                                <h:column>
                                    <h:outputText value="#{dish.dishName}"/>
                                </h:column>
                                <h:column>
                                    <h:outputText value="#{dish.price}">
                                        <f:convertNumber type="currency" currencyCode="EUR"/>
                                    </h:outputText>
                                </h:column>
                                <h:column>
                                    <p:commandButton id="delete" action="#{orderView.deleteFromBasket}"
                                                     value="#{labels.labelDelete}">
                                        <f:ajax execute="@this" render="@form"/>
                                    </p:commandButton>
                                </h:column>
                            </h:dataTable>
                            <p:outputLabel value="#{labels.totalPrice}" style="font: bold">
                                <f:param value="#{orderView.totalPrice}"/>
                            </p:outputLabel>
                        </p:panel>
                    </p:tab>
                    <p:tab id="shipping" title="#{labels.shippingAdress}">
                        <p:panel header="#{labels.shippingAdress}">
                            <h:form id="myForm">
                            <f:event type="preRenderView" listener="#{orderView.initialize}"/>
                            <h:panelGrid columns="3">
                                <h:outputText value="#{labels.labelRoom}"/>
                                <h:inputText id="roomNumber" required="true" requiredMessage="#{labels.required}"
                                             value="#{orderView.room}"/>
                                <h:message for="roomNumber"/>
                            </h:panelGrid>
                            <h:panelGrid columns="3">
                                <h:outputLabel value="#{labels.labelOrderFor}"/>
                                <h:inputText id="orderName" value="#{orderView.oderFor}">
                                </h:inputText>
                            </h:panelGrid>
                            <p:commandButton value="#{labels.labelMakeOrder}" action="#{orderView.makeOrder}"
                                             update="@from"
                                             process="@this"/> <!-- update="@this" ist richtig nicht @form"-->
                        </p:panel>
                    </p:tab>
                </p:wizard>
            </h:form>
        </ui:define>
    </ui:composition>
</h:body>
</html>