<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Mensa - User - Add</title>
</h:head>
<h:body>
    <ui:composition template="template.xhtml">
        <h:outputStylesheet library="css" name="style.css"/>
        <ui:define name="pageTitle">
            <h1>#{labels.labelUserAdd}</h1>
        </ui:define>

        <ui:define name="mensa">
            <br/>
            <br/>
            <h:form id="myForm">
                <f:event type="preRenderView" listener="#{addUserView.initialize}"/>
                <h:panelGrid columns="3">
                    <h:outputText value="#{labels.labelUserName}"/>
                    <h:inputText id="userName" required="true" requiredMessage="#{labels.required}"
                                 value="#{addUserView.username}"/>
                    <h:message for="userName"/>
                    <h:outputText value="#{labels.labelEmail}"/>
                    <h:inputText id="email" required="true" requiredMessage="#{labels.required}"
                                 value="#{addUserView.email}"/>
                    <h:message for="email"/>
                    <h:outputText value="#{labels.labelUserRole}" rendered="#{mainNavigationView.notOwnProfile}"/>
                    <h:selectOneMenu id="roleMenu" value="#{addUserView.rolename}"
                                     rendered="#{mainNavigationView.notOwnProfile}">
                        <f:selectItems value="#{addUserView.roleValues}"
                                       var="role
" itemLabel="#{role.roleName}"
                                       itemValue="#{role}"
                        />
                    </h:selectOneMenu>
                    <h:message for="roleMenu" rendered="#{mainNavigationView.notOwnProfile}"/>
                    <h:outputText value="#{labels.labelPassword}"/>
                    <h:inputText id="password" required="true" requiredMessage="#{labels.required}"
                                 value="#{addUserView.password}"/>
                    <h:message for="password"/>
                    <h:selectBooleanCheckbox value="#{addUserView.checked}" id="chkPw" disabled="true"
                                             rendered="#{mainNavigationView.notOwnProfile}"/>
                    <h:commandButton value="#{labels.buttonPw}" immediate="true"
                                     action="#{addUserView.buttonPw}"
                                     rendered="#{mainNavigationView.notOwnProfile}">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                </h:panelGrid>
                <h:panelGrid columns="3">
                    <h:commandButton value="#{labels.buttonCancel}"
                                     action="#{addUserView.buttonCancel}" immediate="true">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                    <h:commandButton value="#{labels.buttonSave}"
                                     action="#{addUserView.buttonSave}">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                </h:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>

</h:body>
</html>
