<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<h:head>
    <title>Mensa - Einloggen</title>
</h:head>
<h:body>
    <ui:composition template="template.xhtml">
        <h:outputStylesheet library="css" name="style.css"/>
        <ui:define name="pageTitle">
            <h1>#{labels.labelUser}</h1>
        </ui:define>

        <ui:define name="mensa">
            <br/>
            <br/>
            <h:form id="myForm">
                <f:event type="preRenderView" listener="#{userTableView.initialize}"/>
                <h:dataTable var="User"
                             value="#{userTableView.userDataModel}"
                             styleClass="tableBackground"
                             columnClasses="oddColumn,evenColumn,oddColumn,evenColumn"
                             headerClass="tableHeader"
                             footerClass="tableFooter"
                             rowClasses="oddRow, evenRow">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{labels.labelNumber}"/>
                        </f:facet>
                        <h:outputText value="#{userTableView.getNumber(User)}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{labels.labelUserName}"/>
                        </f:facet>
                        <h:outputText value="#{User.username}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{labels.labelEmail}"/>
                        </f:facet>
                        <h:outputText value="#{User.email}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="#{labels.labelUserRole}"/>
                        </f:facet>
                        <h:outputText value="#{User.role.getRoleName()}"/>
                    </h:column>
                    <h:column>
                        <h:commandButton id="Edit" action="#{userTableView.editButton}" value="#{labels.labelEdit}"/>
                    </h:column>
                    <h:column>
                        <h:commandButton id="Delete" action="#{userTableView.deleteButton}"
                                         value="#{labels.labelDelete}"/>
                    </h:column>
                </h:dataTable>
                <h:panelGrid columns="2">
                    <h:commandButton value="#{labels.buttonBack}"
                                     action="#{userTableView.backButton}">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                    <h:commandButton value="#{labels.buttonAdd}"
                                     action="#{userTableView.addButton}">
                        <f:ajax render="@form" execute="@form"/>
                    </h:commandButton>
                </h:panelGrid>
            </h:form>
        </ui:define>
    </ui:composition>

</h:body>
</html>
